@import "tailwindcss";

@theme {
  --color-cherie: #C91959;
  --color-cherie-50: #fdf2f7;
  --color-cherie-100: #fce7f2;
  --color-cherie-200: #fbcfe6;
  --color-cherie-300: #f9a8d0;
  --color-cherie-400: #f472af;
  --color-cherie-500: #ec4890;
  --color-cherie-600: #db276e;
  --color-cherie-700: #c91959; /* original */
  --color-cherie-800: #9d1746;
  --color-cherie-900: #83183d;
  --color-cherie-950: #500720;
}

.sections-container {
  @apply w-5xl flex flex-col;
}

.title {
  @apply font-light italic py-15 justify-center text-5xl;
}

.about, .characteristics {
  @apply bg-white gap-20;
}

.char-card {
  @apply px-2 py-2 bg-white max-w-48 h-48 relative rounded-md shadow-lg;
}

.dest-card {
  @apply flex flex-col px-2 py-2 bg-cherie-200 max-w-48 relative rounded-md shadow-lg hover:bg-cherie-300 hover:shadow-xl;
}
